@using AudioPlayerProject.Models;

@{
    ViewData["Title"] = "Music Page";
}

@if (ViewData["UploadMusicResult"] == "Success")
{
    <div class="alert alert-success" role="alert">
        La musique a été ajoutée avec succès !
    </div>
}
else if (ViewData["UploadMusicResult"] == "Failure")
{
    <div class="alert alert-danger" role="alert">
        Une erreur s'est produit lors de l'ajout de la musique
    </div>
}

@model Music
<form asp-action="Index" enctype="multipart/form-data">
    <div class="form-row">
        <div class="col-md-3 my-1">
            <input asp-for="Title" type="text" class="form-control" placeholder="Titre" required />
        </div>
        <div class="col-md-3 my-1">
            <input asp-for="Artist" type="text" class="form-control" placeholder="Artiste" />
        </div>
        <div class="col-md-5 my-1 custom-file">
            <input asp-for="File" type="file" class="custom-file-input" id="file-input" accept=".mp3" required />
            <label class="custom-file-label" for="input">Sélectionner une musique</label>
        </div>
        <div class="col-md-1 my-1">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </div>
</form>

<hr class="my-4" />

@{ List<Music> musics = ViewBag.MusicList; }
@{ List<Playlist> playlists= ViewBag.PlaylistList; }
<table class="table table-sm table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Artiste</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Music music in musics)
        {
        <tr>
            <td>@music.Id</td>
            <td>@music.Title</td>
            <td>@music.Artist</td>
            <td class="text-center"><a class="btn btn-sm btn-primary" asp-area="" asp-controller="Music" asp-action="Play" asp-route-id="@music.Id">Play</a></td>
            <td class="text-center">
                <div class="dropdown">
                    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="addToPlaylist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ajouter à...
                    </a>

                    <div class="dropdown-menu" aria-labelledby="addToPlaylist">
                        <h6 class="dropdown-header">Playlist</h6>
                        @foreach (Playlist playlist in playlists)
                        {
                            <a class="dropdown-item" asp-area="" asp-controller="Music" asp-action="AddToPlaylist" asp-route-playlist_id="@playlist.Id" asp-route-music_id="@music.Id">@playlist.Name</a>
                        }
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $('#file-input').on('change', function () {
            console.log("change");
            var fileName = document.getElementById("file-input").files[0].name;
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
}
