@using AudioPlayerProject.Models;

@{
    ViewData["Title"] = "Playlist";
}
<h3>Playlist</h3>

@if (TempData["CreatePlaylistResult"] == "Success")
{
    <div class="alert alert-success" role="alert">
        La musique a été créée avec succès !
    </div>
}
else if (TempData["CreatePlaylistResult"] == "Failure")
{
    <div class="alert alert-danger" role="alert">
        Une erreur s'est produit lors de la création de la playlist
    </div>
}

@model Playlist
<form asp-action="Index" enctype="multipart/form-data">
    <div class="form-row">
        <div class="col-md-11 my-1">
            <input asp-for="Name" type="text" class="form-control" placeholder="Titre" required />
        </div>
        <div class="col-md-1 my-1">
            <button type="submit" class="btn btn-primary">Créer</button>
        </div>
    </div>
</form>

<hr class="my-4" />

@{ List<Playlist> playlists = ViewBag.PlaylistList; }
<table class="table table-sm table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Playlist playlist in playlists)
        {
            <tr>
                <td>@playlist.Id</td>
                <td><a asp-area="" asp-controller="Playlist" asp-action="Show" asp-route-id="@playlist.Id">@playlist.Name</a></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-secondary btn-sm" asp-area="" asp-controller="Playlist" asp-action="Play" asp-route-id="@playlist.Id" role="button">
                            Play
                        </a>
                        <a class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Playlist" asp-action="Update" asp-route-id="@playlist.Id">Renommer la playlist</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Playlist" asp-action="Delete" asp-route-id="@playlist.Id">Supprimer la playlist</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
